body{
  background-color: #000000;
}

.home {
    background: #050801;
	  height:98vh;
    display: grid;
    grid-template-rows: 20% 40% 15% 25%;
    grid-template-columns: 30% 40% 30%;
}

.home h2 {
  grid-row-start: 2;
  grid-row-end:3;
  grid-column-start: 1;
  grid-column-end:4;
    font-size: 15vh;
    color: #ffcf00;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    text-shadow:
    0 0 50px #ffcf00,
    0 0 200px #ffcf00;

}





.home h2 strong {
    font-weight: 700;
	
    color: #fae37d;
}

a {
    grid-row-start: 3;
    grid-row-end:4;
    grid-column-start: 2;
    grid-column-end:3;
    height: auto;
    padding-top: 3vh;
    width: 35vw;
    font-family: 'Raleway', sans-serif;
    font-size: 8vh;
    line-height: 8vh;
    border-radius: 2vh;
    text-align: center;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    background: transparent;
    color: #eccf4a;


    text-shadow:
    0 0 30px #ffcf00,
    0 0 50px #ffcf00,
    0 0 200px #ffcf00;   
}

@media(max-width:1500px){
  .home h2{
    font-size: 8vh;
  }
  a{
    font-size: 5vh;
  }
}

@media(max-width:1000px){
  .home h2{
    font-size: 6vh;
  }
  a{
    font-size: 4vh;
  }
}

@media(max-width:700px){
  .home h2{
    font-size: 5vh;
  }
  a{
    font-size: 3vh;
  }
}


a:hover{
  background: #fae37d;
  color: #ff9204;
  box-shadow: 0 0 5px #ff9204,
              0 0 25px #ff9204,
              0 0 50px #ff9204,
              0 0 200px #ff9204;
}


.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    transform: scale(.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
    -ms-transform: scale(.3);
    transform: scale(.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
