html{
    background-color:rgb(201,213,229);
    font-size:100%;
}

div.t1{
    display: grid;
    grid-template-rows: 24% 24% 60%;
    grid-template-columns: 33% minmax(50%,66%) ;
    grid-gap :0.5rem;;
    justify-content: center;
}
div.no1{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgba(17, 17, 17);
    display: grid;
    grid-template-rows: 20% 20% 60%;
    grid-template-columns: 20% 60% 20%;
    margin: 0;
    padding: 0;

}
div.no1>h1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;   
    color:rgb(244,208,62);
    text-align: center;
 
} 
@media(max-width:615px){
    div.no1>h1{
        font-size:1.6rem;;
    }
}

div.no1>h1>span{
    color: white;
}
div.no1>h3{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    color:rgb(219,219,219);
    text-align: center;

}
div.no1 img{
    width:60%;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    border-radius: 100%;
    border:6px solid rgb(244,208,62);

    overflow: hidden;
}
@media(max-width:1000px){
    div.no1 img{
        width:80%;
    }
}
div.no2{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: rgb(17, 17, 17);
    display: grid;

    grid-template-rows: 33% 33% 33%;
}
div.no2>h2{
    grid-row-start: 2;
    grid-row-end: 3; 
    width:100vw;
    text-indent: 2.4rem;
    color:rgb(244,208,62) ;
}
div.no2>h2>span{
    color:white;
}

div.no3{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgb(244,208,62);
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

div.no3 button{

    background-color:  rgb(244,208,62);
    width: 100%;
    border:0px;
    font-weight:500;
    font-size: 1.3rem;
    -webkit-transition-duration: 0.2s; 
    transition-duration: 0.2s;
}
div.no3 button:hover {
    background-color: #000000; 
    color: rgb(244,208,62);
}
div.no3 button:active{
    background-color:gray; 
    color: rgb(244,208,62);
}
div.no3>div#no31{
    grid-row-start: 1;
    grid-row-end: 2;
}
div.no3>div#no32{
    grid-row-start: 2;
    grid-row-end: 3;
}
div.no3>div#no33{
    grid-row-start: 3;
    grid-row-end: 4;
}
div.no3>div#no34{
    grid-row-start: 4;
    grid-row-end: 5;
}
div.no3>div#no35{
    grid-row-start: 5;
    grid-row-end: 6;
}
div.no3> div#no35{
    display: grid;
    grid-template-columns: 10% 28% 28% 35%;
}
div.no3 a#no351{
    grid-column-start: 2;
    grid-column-end: 3;
}

div.no3 a#no352{
    grid-column-start: 3;
    grid-column-end: 4;
}

div.no3 a#no353{
    grid-column-start:4;
    grid-column-end: 5;
}



div.no4{
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: rgba(255,255,255,0.7);
    display: grid;
    grid-template-rows: 10% 6% 31% 18% 33%;
    grid-template-columns: 6% 94%;
    
}
div.no4>h3#no41{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;   
    width: 60vw;
    font-family:initial;
    font-size: 1.7rem;
    font-weight: 1000;   

}
h3#no41>span{
    background-color: rgb(244,208,62);
}
div.no4>p#no42{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;   
    width: 60vw;

    /* font-family: sans-serif; */
    font-size:1rem;
    font-weight: 550;

}
div.no4>p#no43{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;   
    width: 60vw;
    color:gray;
    line-height: 2rem;
 
    text-align: left;
}
div.no4>h3#no44{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;   
    width: 60vw;
    font-family:initial;
    font-size: 1.7rem;
    font-weight: 1000;  

}
div.no4>div{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 3;   
    width: 60vw;
    display: grid;
    grid-template-rows: 23% 23% 23% 23%;
    grid-template-columns:35% 60%;
    grid-gap:0.3rem;
    text-indent: 1.1rem;
}


div.no5>span#no51{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color:rgb(244,208,62) ;
    color: black;
    margin:2px;
    padding:2px;
    width:80%;
}
div.no5>span#no52{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: black;
    color: white;
    margin:2px;
    padding:2px;
    width:85%;
}
div.no5>span#no53{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color:rgb(244,208,62) ;
    color: black;  
    margin:2px;
    padding:2px;  
    width:80%;
}
div.no5>span#no54{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: black;
    color: white;
    margin:2px;
    padding:2px;
    width:85%;
}

div.no5>span#no55{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color:rgb(244,208,62) ;
    color: black;
    margin:2px;
    padding:2px;
    width:80%;
}
div.no5>span#no56{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: black;
    color: white;
    margin:2px;
    padding:2px;
    width:85%;
}
div.no5>span#no57{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color:rgb(244,208,62) ;
    color: black;
    margin:2px;
    padding:2px;
    width:80%;
}
div.no5>span#no58{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: black;
    color: white;
    margin:2px;
    padding:2px;
    width:85%;
}