html{
    background-color: black;
    font-size: 17px;
}
body{
    display: grid;
    grid-template-columns:10% 60% 20% 10%;
    justify-content: center;
}
div.t1{
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: 8% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% ;
    grid-template-columns: 10% 10% 10% 10% 10% 10%;
    grid-gap:5px;
    color:black;
    /* justify-content: center;  */
    text-align: center;

}

div#t2{
    visibility: hidden;
    margin-top: 150%;
    margin-left: -70%;
    grid-column-start: 3;
    grid-column-end: 4;
    height: 25%;
    width:200%;
    display: grid;
    color: rgb(244,208,62);
    border:2px solid wheat;
    text-align: center;
}

@media(max-width:615px){
    div.t1{
        font-size: 0.5rem;
    }
}
div.t1>h1{
    grid-row-start: 1;
    grid-row-end:2;
    grid-column-start: 1;
    grid-column-end: 7;
    color: rgb(244,208,62);
    text-align: center;
}


div.t1 p#th1{
    background-color: wheat;
    height:2rem;
    grid-row-start: 2;
    grid-row-end:3;
    grid-column-start: 2;
    grid-column-end: 3;
    line-height: 200%;
}
div.t1 p#th2{
    background-color: wheat;
    height:2rem;
    grid-row-start: 2;
    grid-row-end:3;
    grid-column-start: 3;
    grid-column-end: 4;  
    line-height: 200%;
}
div.t1 p#th3{
    background-color: wheat;
    height:2rem;
    grid-row-start: 2;
    grid-row-end:3;
    grid-column-start: 4;
    grid-column-end: 5;  
    line-height: 200%;
}
div.t1 p#th4{
    background-color: wheat;
    height:2rem;
    grid-row-start: 2;
    grid-row-end:3;
    grid-column-start: 5;
    grid-column-end: 6;  
    line-height: 200%; 
}
div.t1 p#th5{
    background-color: wheat;
    height:2rem;
    grid-row-start: 2;
    grid-row-end:3;
    grid-column-start: 6;
    grid-column-end: 7;
    line-height: 200%;      
}


div.t1 p.c1{
    background-color: wheat;
    grid-row-start: 3;
    grid-row-end:4;
    grid-column-start: 1;
    grid-column-end: 2;
    line-height: 300%;
    height: 3rem;

}
div.t1 p.c2{
    background-color: wheat;
    grid-row-start: 4;
    grid-row-end:5;
    grid-column-start: 1;
    grid-column-end: 2;
    line-height: 300%;
    height: 3rem;

}
div.t1  p.c3{
    background-color: wheat;
    grid-row-start: 5;
    grid-row-end:6;
    grid-column-start: 1;
    grid-column-end: 2;
    line-height: 300%;
    height: 3rem;
}
div.t1  p.c4{
    background-color: wheat;
    grid-row-start: 6;
    grid-row-end:7;
    grid-column-start: 1;
    grid-column-end: 2;
    line-height: 300%;
    height: 3rem;
}
div.t1 p.c5{
    background-color: wheat;
    grid-row-start: 7;
    grid-row-end:8;
    grid-column-start: 1;
    grid-column-end: 2;
    line-height: 300%;
    height: 3rem;
}
div.t1 p.c6{
    background-color: wheat;
    grid-row-start: 8;
    grid-row-end:9;
    grid-column-start: 1;
    grid-column-end: 2;
    line-height: 300%;
    height: 3rem;
}
div.t1 p.c7{
    background-color: wheat;
    grid-row-start: 9;
    grid-row-end:10;
    grid-column-start: 1;
    grid-column-end: 2;
    line-height: 300%;
    height: 3rem;
}
div.t1 p.c8{
    background-color: wheat;
    grid-row-start: 10;
    grid-row-end:11;
    grid-column-start: 1;
    grid-column-end: 2;
    line-height: 300%;
    height: 3rem;
}
div.t1 p.c9{
    background-color: wheat;
    grid-row-start: 11;
    grid-row-end:12;
    grid-column-start: 1;
    grid-column-end: 2;
    line-height: 300%;
    height: 3rem;
}
div.t1 p.c10{
    background-color: wheat;
    grid-row-start: 12;
    grid-row-end:13;
    grid-column-start: 1;
    grid-column-end: 2;
    line-height: 300%;
    height: 3rem;
}
div.t1 p.c11{
    background-color: wheat;
    grid-row-start: 13;
    grid-row-end:14;
    grid-column-start: 1;
    grid-column-end: 2;
    line-height: 300%;
    height: 3rem;
}
div.t1 p.c12{
    background-color: wheat;
    grid-row-start: 14;
    grid-row-end:15;
    grid-column-start: 1;
    grid-column-end: 2;
    line-height: 300%;
    height: 3rem;
}


div.t1 p#ta1{
    grid-row-start: 3;
    grid-row-end:5;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: rgb(244,208,62);
    height:90%;

}
@media(max-width:615px){
    div.t1 p#ta1{
        height:102%;
    }
}
div.t1 p#ta2{
    grid-row-start: 5;
    grid-row-end:7;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color:rgb(244,208,62);
    height:90%;
}
@media(max-width:615px){
    div.t1 p#ta2{
        height:102%;
    }
}
div.t1 p#ta3{
    grid-row-start: 7;
    grid-row-end:9;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color:rgb(244,208,62);
    height:90%;
}
@media(max-width:615px){
    div.t1 p#ta3{
        height:102%;
    }
}
div.t1 p#ta4{
    grid-row-start: 13;
    grid-row-end:15;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color:rgb(244,208,62);
    height:90%;
}
@media(max-width:615px){
    div.t1 p#ta4{
        height:102%;
    }
}
div.t1 p#ta5{
    grid-row-start: 3;
    grid-row-end:5;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color:rgb(244,208,62);
    height:90%;
}
@media(max-width:615px){
    div.t1 p#ta5{
        height:102%;
    }
}
div.t1 p#ta6{
    grid-row-start: 5;
    grid-row-end:7;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color:rgb(244,208,62);
    height:90%;
}
@media(max-width:615px){
    div.t1 p#ta6{
        height:102%;
    }
}
div.t1 p#ta7{
    grid-row-start: 9;
    grid-row-end:11;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color:rgb(244,208,62);
    height:90%;
}
@media(max-width:615px){
    div.t1 p#ta7{
        height:102%;
    }
}
div.t1 p#ta8{
    grid-row-start: 3;
    grid-row-end:5;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color:rgb(244,208,62);
    height:90%;
}
@media(max-width:615px){
    div.t1 p#ta8{
        height:102%;
    }
}
div.t1 p#ta9{
    grid-row-start: 5;
    grid-row-end:7;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color:rgb(244,208,62);
    height:90%;
}
@media(max-width:615px){
    div.t1 p#ta9{
        height:102%;
    }
}
div.t1 p#ta10{
    grid-row-start: 11;
    grid-row-end:13;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color:rgb(244,208,62);
    height:90%;
}
@media(max-width:615px){
    div.t1 p#ta10{
        height:102%;
    }
}
div.t1 p#ta11{
    grid-row-start: 5;
    grid-row-end:7;
    grid-column-start: 5;
    grid-column-end: 6;
    background-color:rgb(244,208,62);
    height:90%;
}
@media(max-width:615px){
    div.t1 p#ta11{
        height:102%;
    }
}
div.t1 p#ta12{
    grid-row-start: 7;
    grid-row-end:9;
    grid-column-start: 5;
    grid-column-end: 6; 
    background-color:rgb(244,208,62);
    height:90%;
}
@media(max-width:615px){
    div.t1 p#ta12{
        height:102%;
    }
}
div.t1 p#ta13{
    grid-row-start: 9;
    grid-row-end:11;
    grid-column-start: 5;
    grid-column-end: 6; 
    background-color:rgb(244,208,62);
    height:90%;

}
@media(max-width:615px){
    div.t1 p#ta13{
        height:102%;
    }
}
div.t1 p#ta14{
    grid-row-start: 3;
    grid-row-end:5;
    grid-column-start: 6;
    grid-column-end: 7;
    background-color:rgb(244,208,62);
    height:90%;

}
@media(max-width:615px){
    div.t1 p#ta14{
        height:102%;
    }
}



